<!--
# select-update.html

# Brandan McDevitt
# Harvard Computer Science 50
# Final Project

# A website for struggling students to find available mentoring teachers to help them.

-->

{% extends "layout.html" %}

{% block title %}
    Update Availability
{% endblock %}

{% block main %}
<h1>Update Availability</h1>
<div class="container-inner">
<div class="navigation">
        <form action="/select-update" method="post">
            <div class="form-group name">
                <h2>Select Teacher</h2>
                <select name="name">
                    <option value="select">Select</option>
                    {% for forename, surname in names %}
                    <option value="{{  forename }}">{{ forename + " " + surname }}</option>
                    {% endfor %}
                </select>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
            </div>
            </div>



{% endblock %}
